/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
/* common styling  */
* {
  font-family: "Quicksand";
}
a {
  text-decoration: none;
}
ul {
  margin: 0px;
  list-style: none;
}
/* header file css */
#main-header {
  position: relative;
  width: 100%;
  background-color: #95afc0;
  color: white;
}
#main-header .container .col-md-12 h1 {
  font-size: 32px;
  text-align: center;
}
#main-header #logo-hostel div,
#main-header #logo-college div {
  text-align: center;
}
#main-header #logo-hostel div img,
#main-header #logo-college div img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  position: relative;
}
#main-header ul {
  display: flex;
  margin: 0px;
}
#main-header li {
  margin: 0px 6px;
  display: block;
}
#main-header li a {
  display: block;
  padding: 10px;
  color: white;
  transition: background-color 0.5s ease-in;
}
#main-header li a:hover,
#main-header li:first-child {
  background-color: #535c68;
}
/* registration file  */
#reg-form {
  text-align: center;
}
#reg-form h2 {
  padding: 30px;
  color: #eb4d4b;
}
#reg-form .col-md-8 {
  margin: auto;
}
#reg-form form input[type="text"],
#reg-form form input[types="email"],
#reg-form form input[types="submit"],
#reg-form form select {
  margin: 5px 0px;
}
#reg-form fom select {
  margin: 5px 0px;
}
#additional-part {
  margin-top: -24px;
  padding: 5px 0px;
}
/* notification file css  */
#notification .notification-block {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 255, 0.2);
}
/* help file css  */
#help {
  background-color: #bdc3c7;
  padding: 20px 0px;
  width: 100%;
  height: 100%;
}
#help .container {
  background-color: white;
  border-radius: 9px;
}
#help h2 {
  margin: 10px 0px;
  color: #16a085;
  border-bottom: 1px solid #16a085;
  padding-bottom: 5px;
}
#help .row {
  border-radius: 5px;
}
#help ol li{
  margin: 5px 0px;
}
/* about us file  */
#about-us .row {
  position: relative;
  padding: 3rem 2rem;
  background: purple;
  color: white;
  border-radius: 4px;
}
#about-us .img-box {
  height: 281px;
  width: 271px;
  margin: 0px auto;
}
#about-us h4,
h5,
#about-us p {
  margin: 0px 23px;
  text-align: center;
}
#about-us .img-box img {
  width: 100%;
  height: 100%;
}
/* footer file   */
#main-footer {
  padding: 50px;
  text-align: center;
  background-color: black;
  color: white;
}
#main-footer h2 {
  font-size: 20px;
}
#main-footer ul {
  margin: 0px;
  text-align: center;
}
#main-footer a {
  text-align: left;
  color: white;
}
/* media query */
@media (max-width: 768px) {
  /* header file  */
  #main-header .container .col-md-8 {
    margin-top: 15px;
  }
  #main-header ul {
    display: block;
  }
  #main-header ul li {
    margin: -12px 0px;
  }
}
